{% extends 'layout.html' %}

{% block body %}

<section class="hero-section">
    <div class="hero-image">
        <img src="../../static/img/cubos-bg.jpeg" alt="Background Image" />
        <div class="welcome-text">
            <h2>O Grupo Startech é <span class="multiple-text"></span></h2>
        </div>
    </div>
</section>

<section id="about-section">

    <!-- Alex -->
    <div class="about-left" data-aos="fade" style="margin-bottom: 100px;">
        <img class="cubo-img" src="../../static/img/4.png" alt="About Img"/>
    </div>

    <div class="about-right" data-aos="fade" style="margin-bottom: 50px;">
        <h4>Minha História</h4>
        <h1>Alex Macedo</h1>
        <p style="text-align: justify; max-width: 500 ;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, debitis dicta rem dolorum, fugit architecto ut nam quaerat maxime iure voluptates natus eveniet obcaecati neque aperiam tenetur eos consequatur quia!</p>
        <div class="address">
            <ul>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <p>Address</p>
                    <span class="saprater">:</span>
                    <p>Jaipur, Rajasthan, India</p>
                </li>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="far fa-envelope"></i>
                    </span>
                    <p>Email ID</p>
                    <span class="saprater">:</span>
                    <p>crowncoder@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="expertise" data-aos="fade">
            <h3>Experiências</h3>
            <ul>
                <li><span class="expertise-logo"><i class="fab fa-html5"></i></span><p>HTML</p></li>
                <li><span class="expertise-logo"><i class="fab fa-css3-alt"></i></span><p>CSS</p></li>
                <li><span class="expertise-logo"><i class="fab fa-node-js"></i></span><p>JavaScript</p></li>
                <li><span class="expertise-logo"><i class="fab fa-react"></i></span><p>React Js</p></li>
            </ul>
        </div>
    </div>

    <!-- Débora -->
    <div class="about-right" data-aos="fade" style="margin-bottom: 100px;">
        <h4>Minha História</h4>
        <h1>Débora Duarte</h1>
        <p style="text-align: justify; max-width: 500;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, debitis dicta rem dolorum, fugit architecto ut nam quaerat maxime iure voluptates natus eveniet obcaecati neque aperiam tenetur eos consequatur quia!</p>
        <div class="address">
            <ul>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <p>Address</p>
                    <span class="saprater">:</span>
                    <p>Jaipur, Rajasthan, India</p>
                </li>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="far fa-envelope"></i>
                    </span>
                    <p>Email ID</p>
                    <span class="saprater">:</span>
                    <p>crowncoder@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="expertise" data-aos="fade">
            <h3>Experiências</h3>
            <ul>
                <li><span class="expertise-logo"><i class="fab fa-html5"></i></span><p>HTML</p></li>
                <li><span class="expertise-logo"><i class="fab fa-css3-alt"></i></span><p>CSS</p></li>
                <li><span class="expertise-logo"><i class="fab fa-node-js"></i></span><p>JavaScript</p></li>
                <li><span class="expertise-logo"><i class="fab fa-react"></i></span><p>React Js</p></li>
            </ul>
        </div>
    </div>
    <div class="about-left" data-aos="fade" style="margin-bottom: 50px;">
        <img class="cubo-img" src="../../static/img/2.png" alt="About Img"/>
    </div>

    <!-- Henrique -->
    <div class="about-left" data-aos="fade" style="margin-bottom: 100px;">
        <img class="cubo-img" src="../../static/img/1.png" alt="About Img"/>
    </div>

    <div class="about-right" data-aos="fade" style="margin-bottom: 50px;">
        <h4>Minha História</h4>
        <h1>Henrique Sardella</h1>
        <p style="text-align: justify; max-width: 500;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, debitis dicta rem dolorum, fugit architecto ut nam quaerat maxime iure voluptates natus eveniet obcaecati neque aperiam tenetur eos consequatur quia!</p>
        <div class="address">
            <ul>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <p>Address</p>
                    <span class="saprater">:</span>
                    <p>Jaipur, Rajasthan, India</p>
                </li>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="far fa-envelope"></i>
                    </span>
                    <p>Email ID</p>
                    <span class="saprater">:</span>
                    <p>crowncoder@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="expertise" data-aos="fade">
            <h3>Experiências</h3>
            <ul>
                <li><span class="expertise-logo"><i class="fab fa-html5"></i></span><p>HTML</p></li>
                <li><span class="expertise-logo"><i class="fab fa-css3-alt"></i></span><p>CSS</p></li>
                <li><span class="expertise-logo"><i class="fab fa-node-js"></i></span><p>JavaScript</p></li>
                <li><span class="expertise-logo"><i class="fab fa-react"></i></span><p>React Js</p></li>
            </ul>
        </div>
    </div>

    <!-- Thiago -->
    <div class="about-right" data-aos="fade" style="margin-bottom: 100px;">
        <h4>Minha História</h4>
        <h1>Thiago Alonso</h1>
        <p style="text-align: justify; max-width: 500;">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis, debitis dicta rem dolorum, fugit architecto ut nam quaerat maxime iure voluptates natus eveniet obcaecati neque aperiam tenetur eos consequatur quia!</p>
        <div class="address">
            <ul>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="fas fa-paper-plane"></i>
                    </span>
                    <p>Address</p>
                    <span class="saprater">:</span>
                    <p>Jaipur, Rajasthan, India</p>
                </li>
                <li>
                    <span class="address-logo" data-aos="fade">
                        <i class="far fa-envelope"></i>
                    </span>
                    <p>Email ID</p>
                    <span class="saprater">:</span>
                    <p>crowncoder@gmail.com</p>
                </li>
            </ul>
        </div>
        <div class="expertise" data-aos="fade">
            <h3>Experiências</h3>
            <ul>
                <li><span class="expertise-logo"><i class="fab fa-html5"></i></span><p>HTML</p></li>
                <li><span class="expertise-logo"><i class="fab fa-css3-alt"></i></span><p>CSS</p></li>
                <li><span class="expertise-logo"><i class="fab fa-node-js"></i></span><p>JavaScript</p></li>
                <li><span class="expertise-logo"><i class="fab fa-react"></i></span><p>React Js</p></li>
            </ul>
        </div>
    </div>
    <div class="about-left" data-aos="fade" style="margin-bottom: 50px;">
        <img class="cubo-img" src="../../static/img/3.png" alt="About Img"/>
    </div>

</section>

<script src="https://unpkg.com/scrollreveal"></script>

<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>

<!-- custom js -->
<script src="../../static/js/script.js"></script>

{% endblock %}
