<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {% if titulo %}
    <title>{{ titulo }} - Projeto Web</title>
    {% else %}
    <title>Projeto Web</title>
    {% endif %}

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/bootstrap.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/estilo.css" />

    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script
      type="text/javascript"
      src="/static/js/bootstrap.bundle.min.js"
    ></script>
  </head>
  <body>
    <!-- Navbar superior -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="/">
        <img src="../static/img/logo.webp" class="logo-redonda" alt="Logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSuperior"
        aria-controls="navbarSuperior"
        aria-expanded="false"
        aria-label="Alternar navegação"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSuperior">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sobre">Sobre</a>
          </li>
        </ul>
      </div>
    </nav>
    

    <!-- Container para navbar lateral e conteúdo -->
    <div class="d-flex" style="margin-top: 56px">
      <!-- Navbar lateral reduzida -->
      <!-- Navbar lateral -->
      <nav
        class="navbar bg-light flex-column"
        style="
          width: 100px;
          height: 100vh;
          position: fixed;
          top: 56px;
          border-right: 1px solid #ddd;
        "
      >
        <ul class="navbar-nav w-100 text-center">
          <li class="nav-item">
            <a
              class="nav-link"
              href="/consolidadoDiarioMensal"
              title="Consolidado Diário/Mensal"
            >
              <i class="fa-solid fa-calendar-alt"></i>
              <span class="d-none d-md-block small">Diário</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/consolidadoDispositivo"
              title="Consolidado por Dispositivo"
            >
              <i class="fa-solid fa-microchip"></i>
              <span class="d-none d-md-block small">Dispositivo</span>
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="/consolidadoPorHora"
              title="Consolidado por Hora"
            >
              <i class="fa-solid fa-clock"></i>
              <span class="d-none d-md-block small">Por Hora</span>
            </a>
          </li>
        </ul>
      </nav>

      <!-- Conteúdo principal -->
      <main class="flex-grow-1" style="margin-left: 80px; padding: 20px">
        <div class="conteudo">{% block body %}{% endblock %}</div>
      </main>
    </div>

  </body>
</html>
